<section class="{{#if section-home}}section-home{{else}}section{{/if}}{{#if section-mode}} {{#if section-home}}section-home--{{section-mode}}{{else}}section--{{section-mode}}{{/if}}{{/if}}{{#if section-class}} {{section-class}}{{/if}}">
  {{>@partial-block}}
</section>
