{{#if button}}
  <button class="btn-arrow{{#if btn-mode}} btn-arrow--{{btn-mode}}{{/if}}" type="{{type}}">{{#if label}}{{label}}{{else}}подробнее{{/if}} {{>icons/arrow-right}}</button>
{{else}}
  <a class="btn-arrow{{#if btn-mode}} btn-arrow--{{btn-mode}}{{/if}}" href="#">{{#if label}}{{label}}{{else}}подробнее{{/if}} {{>icons/arrow-right}}</a>
{{/if}}
